version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - server

  server:
    build: ./server
    container_name: backend
    expose:
      - "5000"
    environment:
      - NODE_ENV=production
