version: '3.8'

services:
  server:
    build: ./server
    container_name: server
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - server

