version: '3.8'

services:
  server:
    build: ./server
    container_name: server
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    volumes:
      - ./site:/app
    depends_on:
      - server


